{% extends "patient-dashboard.html" %}

{% block view %}
    <h1>Patient Information</h1>
    
    <h3>Name</h3>
    {%if patient.name %} 
        <p>{{patient.name}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Phone</h3>
    {%if patient.phone %} 
        <p>{{patient.phone}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Address</h3>
    {%if patient.address %} 
        <p>{{patient.address}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Date of birth</h3>
    {%if patient.date_of_birth %} 
        <p>{{patient.date_of_birth}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Blood Group</h3>
    {%if patient.blood_group %} 
        <p>{{patient.blood_group}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Allergies</h3>
    {%if patient.medical_history %} 
        <p>{{patient.medical_history}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <h3>Medical History</h3>
    {%if patient.medical_history %} 
        <p>{{patient.medical_history}}</p>
    {% endif %}
    {%else%} <p>No info</p> {% endelse %}

    <button type="submit">Update</button>
{% endblock %}