{% extends "base.html" %}
{% block content %}
    <div class="login-container">
      <form method="POST">
        {{ form.hidden_tag() }}
        <label>{{ form.email.label }}</label>
         {{ form.email }}
        {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %} 
        <label>{{ form.password.label }}</label>
         {{ form.password }}
        {% if form.password.errors %}
            <div class="error">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <p style="font-family: Poppins; font-size: 14px; color: #666666; margin-bottom: 10px;">You don't have an account?
            <a href="{{ url_for('main.register') }}">Register</a>
        </p>
        <button type="submit">Login</button>
    </form>
    </div>
    
{% endblock %}
